button{
  background-color: #04041C;
  text-align: center;
  color: cyan;
  height: 5vh;
  font-style: oblique;
  display: inline-flex;
  padding: 20px 50px;
}

h1{
  color: crimson;
  text-indent:470px;
  text-decoration-color: white;
}
h3{
  color: gold;
  text-indent: 120px;
  text-decoration-style: wavy;
}
.tri2{
  float: center;
  text-indent: 500px
}
.butt{
  text-indent: 510px;
  text-decoration-style: wavy;
}
.quest{
  text-indent: 200px;
  float: center;
  color: black;
}
html{
  background-image: url(https://66.media.tumblr.com/7f5183e57b27f8ef2e1be43161adc57e/tumblr_pn9iwkP6kT1txe8seo1_500.gif);
  background-attachment: fixed;
}
