button{
  background-color: #04041C;
  text-align: center;
  color: cyan;
  height: 5vh;
  font-style: oblique;
  display: inline-flex;
  padding: 20px 50px;
}

h1{
  color: crimson;
  text-indent:470px;
  text-decoration-color: white;
}
h2{
  color: gold;
  text-indent: 120px;
  text-decoration-style: wavy;
}
.tri2{
  float: center;
  text-indent: 500px
}
.butt{
  text-indent: 510px;
  text-decoration-style: wavy;
}
.quest{
  text-indent: 200px;
  float: center;
  color: black;
}
body{
  background-image:url(/home/maxie/Documents/triangle-detector/images/bac1.gif);
  background-attachment: fixed;
}
